<!DOCTYPE html>
<html>
<head>
  <title>ParamsRailsLivecode1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="non-footer">
    <header>

      <h1>Awesome Cat Blog</h1>

      <nav>
        <ul>
          <li><%=link_to("Home", index_path)%></li>
          <%if @mypost == nil%>
            <li><%=link_to("Most recent post", show_path(1))%></li>
          <%else%>
            <%if @mypost[:id] != 1%>
              <li><%=link_to("Previous", show_path(@mypost[:id]-1))%></li>
            <%end%>
            <%if @mypost[:id] != PostsController.allposts.length%>
              <li><%=link_to("Next", show_path(@mypost[:id]+1))%></li>
            <%end%>
            <li><%= link_to("Edit post", edit_path(@mypost[:id]) ) %></li>
            <li><%= link_to("Delete post", destroy_path(@mypost[:id]), method: :delete) %></li>
          <%end%>
          <li><%=link_to("New post", new_path)%></li>
        </ul>
      </nav>

    </header>

    <%= yield %>
  </div>

  <footer>
    <p>&copy; 2016 Awesome Cat Blog LLC</p>
  </footer>

</body>
</html>
